body {
  background-color: #000000;
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.5s ease;
  cursor: pointer;
}

.box:hover {
  background-color: #572ce6;
}

.icon {
  font-size: 35px;
  color: #ffffff;
}

.winner {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}